.album-comments {
  margin-top: 20px;
  color: #363636;
}

.album-comments-header {
  margin-bottom: 10px;
}

.album-comments-text {
  resize: none;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-bottom: 1px solid #363636;
  padding: 5px;
  height: 26px;
  transition: height 0.3s ease-out, border 0.15s ease-out;
}

.album-comments-text:focus {
  outline: none;
}

.album-comments-active {
  height: 80px;
  border: 1px solid #363636;
  border-radius: 3px;
}

.album-comments-btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.album-comments-btn {
  visibility: visible;
  opacity: 1;
}

.album-comments-submit {
  margin-bottom: 10px;
  border: 1px solid #363636;
  border-radius: 3px;
  width: 50px;
  text-align: center;
  font-size: 11px;
}

.album-comments-btn:focus {
  outline: none;
}

.album-comments-submit:active {
  background: #dddddd;
}

.album-comments-btn:hover {
  cursor: pointer;
}

.album-comments-cancel {
  margin-bottom: 10px;
  border: none;
  width: 50px;
  text-align: center;
  font-size: 11px;
}

.comment-username {
  margin-right: 12px;
  font-weight: 700;
  color: #363636;
  text-decoration: none;
}

.comment-username:hover {
  text-decoration: underline;
}

.comment-body {
  font-size: 11px;
  font-style: italic;
}

.comment-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.comment-item-delete {
  font-size: 10px;
  font-weight: 600;
  margin-left: 12px;
}

.comment-item-delete:hover {
  cursor: pointer;
  text-decoration: underline;
}

.album-comments-hidden {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}
