.home-page {
  background-color: #eef2f3;
  height: 100%;
  padding-top: 105px;
}

.home-page-separator {
  margin: 40px auto;
  width: 80%;
  min-width: 1110px;
  border-bottom: 1px solid rgba(119,119,119,0.10);
}

.home-separator-text {
  font-size: 14px;
  color: #408ea3;
  padding: 0 0 40px 0;
  // font-weight: 600;
}

.features-container {
  width: 100%;
  min-width: 1100px;
  background-color: #222222;
  height: 540px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.featured-albums {
  width: 1440px;
  min-width: 900px;
  height: 540px;
  display: flex;
}

.large-feature-link, .small-feature-link {
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  transition: opacity 0.1s linear;
}

.large-feature-link:hover, .small-feature-link:hover {
  opacity: 0.9;
}

.feature-sizing {
  box-sizing: border-box;
}

.main-feature {
  width: 74.3%;
  min-width: 669px;
  display: flex;
  background-color: white;
}

.large-feature-link {
  width: 100%;
  box-sizing: border-box;
  // background-image: url("https://pbs.twimg.com/media/DsDiwLcVAAU5HmH.jpg");
  overflow: hidden;
}

.large-feature-img {
  width: 100%;
  height: auto;
}

.side-features {
  width: 25.7%;
  min-width: 231px;
  display: flex;
  margin: 0;
  border-left: 2px solid #222222;
  flex-direction: column;
  box-sizing: border-box;
}

.small-feature-link {
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  // background-image: url("https://pbs.twimg.com/media/DsBiB5hWsAIE9Jh.jpg");
}

.small-feature-wrapper {
  height: 180px;
  display: flex;
  background: white;
  box-sizing: border-box;
}

.small-feature-wrapper:nth-of-type(2) {
  border-top: 2px solid #222222;
  border-bottom: 2px solid #222222;
}

.feature-title {
  font-size: 18px;
}

.feature-band {
  font-size: 12px;
}

.large-feature-details {
  width: 770px;
  position: relative;
  top: 390px;
  left: 170px;
}

.large-feature-title {
  font-size: 28px;
  font-weight: 700;
}

.large-feature-band {
  font-size: 14px;
}

.small-feature-details {
  width: 310px;
  position: relative;
  top: 105px;
  left: 14px;
}


.small-feature-title {
  font-size: 14px;
  font-weight: 500;
}

.small-feature-band {
  font-size: 12px;
}

.new-albums-container, .explore-container {
  width: 1110px;
  margin: 0 auto;
}

.new-albums-list {
  display: flex;
  margin: 0 auto;
}

.new-album-item {
  width: 207px;
  padding-right: 19px;
}

.new-albums-list li:last-of-type {
  padding-right: 0;
}

.new-album-link {
  height: 207px;
  width: 207px;
  text-align: center;
  display: flex;
}

.new-album-img {
  height: 100%;
  width: 100%;
}

.new-album-details {
  height: 207px;
  padding: 13px 18px 13px 10px;
  background: #fff;
}

.new-album-byline-link {
  text-decoration: none;
  color: black;
}

.new-album-byline {
  font-size: 14px;
  font-weight: 700;
}

.new-album-byline:hover {
  text-decoration: underline;
}

.new-album-genre {
  font-size: 12px;
  color: #999;
  font-weight: 300;
  padding: 2px 0;
}

.new-album-description {
  font-size: 13px;
  font-family: 'Source Serif Pro', serif;
}

.new-album-collection {
  padding-top: 5px;
  outline: none;
  border: none;
  background: none;
  font-weight: 700;
  font-size: 12px;
}

.hidden-collect {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s, opacity 0.25s linear;
}

.new-album-show:hover .hidden-collect {
  visibility: visible;
  opacity: 1;
}

.new-album-collection:hover {
  cursor: pointer;
  text-decoration: underline;
}

.explore-genres {
  height: 40px;
  background-color: hsla(194, 48%, 50%, 1);
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.explore-genre {
  height: 30px;
  width: 120px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: background-color 0.2s linear;
}

.explore-genre:hover {
  background-color: rgba(0,0,0,0.4);
  border-radius: 30px;
  cursor: pointer;
}

.selected-genre {
  background-color: rgba(0,0,0,0.7);
}

.selected-genre:hover {
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}

.explore-results {
  margin-top: 10px;
  height: 100%;
  // min-height: 670px;
  border-radius: 5px;
}

.genre-album {
  display: flex;
  // margin: 30px 0 0 32px;
  margin: 30px 60px 0 0;
  padding: 10px;
  padding-bottom: 20px;
  border: 1px solid transparent;
  transition: border 0.1s linear;
}

.genre-album:nth-of-type(4) {
  margin-right: 0;
}

// .genre-album:nth-of-type(4) {
//   margin-right: 52px;
// }

.genre-album:hover {
  border: 1px dotted rgba(0,0,0,0.2);
}

.genre-link {
  display: flex;
  flex-direction: column;
  overflow: auto;
  text-decoration: none;
}

.genre-album-img {
  width: 210px;
  height: 210px;
  // background-image: url(https://pbs.twimg.com/media/DLXycjdU8AA4NoQ.jpg);
  background-size: cover;
  display: inline-block;
  border: 1px solid rgba(119,119,119,0.10);
  box-sizing: border-box;
}

.genre-album-title {
  padding-top: 6px;
  color: #363636;
  font-size: 14px;
  font-weight: 600;
}

.genre-album-artist {
  padding-top: 2px;
  color: #505958;
  font-size: 12px;
}

.genre-album-details:hover {
  text-decoration: underline;
}

.explore-pages {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.explore-page-num {
  margin: 0 3px;
}

.explore-page-num:hover {
  cursor: pointer;
}

.current-page-num {
  font-weight: 700;
  text-decoration: underline;
}
