.home-page {
  background-color: #eef2f3;
  height: 1400px;
  padding-top: 105px;
}

.home-page-separator {
  margin: 40px auto;
  width: 80%;
  min-width: 1110px;
  border-bottom: 1px solid rgba(119,119,119,0.10);
}

.home-separator-text {
  font-size: 14px;
  color: #408ea3;
  padding: 0 0 40px 0;
  // font-weight: 600;
}

.features-container {
  width: 100%;
  background-color: #222222;
  height: 540px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.featured-albums {
  width: 1440px;
  min-width: 900px;
  height: 540px;
  display: flex;
}

.large-feature-link, .small-feature-link {
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

.large-feature-link:hover, .small-feature-link:hover {
  opacity: 0.9;
}

.feature-sizing {
  box-sizing: border-box;
}

.main-feature {
  width: 74.3%;
  min-width: 669px;
  display: flex;
  background-color: white;
}

.large-feature-link {
  width: 100%;
  box-sizing: border-box;
  background-image: url("https://pbs.twimg.com/media/DsDiwLcVAAU5HmH.jpg");
}

.side-features {
  width: 25.7%;
  min-width: 231px;
  display: flex;
  margin: 0;
  border-left: 2px solid #222222;
  flex-direction: column;
  box-sizing: border-box;
}

.small-feature-link {
  width: 100%;
  box-sizing: border-box;
  background-image: url("https://pbs.twimg.com/media/DsBiB5hWsAIE9Jh.jpg");
  background-size: cover;
}

.small-feature-wrapper {
  height: 180px;
  display: flex;
  background: white;
  box-sizing: border-box;
}

.small-feature-wrapper:nth-of-type(2) {
  border-top: 2px solid #222222;
  border-bottom: 2px solid #222222;
}

.feature-title {
  font-size: 18px;
}

.feature-band {
  font-size: 12px;
}

.large-feature-details {
  width: 770px;
  position: relative;
  top: 390px;
  left: 170px;
}

.large-feature-title {
  font-size: 28px;
  font-weight: 700;
}

.large-feature-band {
  font-size: 14px;
}

.small-feature-details {
  width: 310px;
  position: relative;
  top: 124px;
  left: 22px;
}


.small-feature-title {
  font-size: 14px;
  font-weight: 500;
}

.small-feature-band {
  font-size: 12px;
}

.new-albums-container {
  width: 1110px;
  margin: 0 auto;
}

.new-albums-list {
  display: flex;
  margin: 0 auto;
}

.new-album-item {
  width: 207px;
  padding-right: 19px;
}

.new-albums-list li:last-of-type {
  padding-right: 0;
}

.new-album-cover {
  height: 207px;
  background-image: url(https://pbs.twimg.com/media/DrFbHgdV4AE05sB.jpg);
  background-size: auto 100%;
  background-position: center;
  display: flex;
}

.new-album-link {
  height: 100%;
  width: 100%;
  text-align: center;
}

.new-album-details {
  height: 207px;
  padding: 13px 18px 13px 10px;
  background: #fff;
}

.new-album-byline-link {
  text-decoration: none;
  color: black;
}

.new-album-byline {
  font-size: 14px;
  font-weight: 700;
}

.new-album-byline:hover {
  text-decoration: underline;
}

.new-album-genre {
  font-size: 12px;
  color: #999;
  font-weight: 300;
  padding: 2px 0;
}

.new-album-description {
  font-size: 13px;
  font-family: 'Source Serif Pro', serif;
}

.new-album-collection {
  padding-top: 5px;
  outline: none;
  border: none;
  background: none;
  font-weight: 700;
  font-size: 12px;
}

.hidden-collect {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s, opacity 0.25s linear;
}

.new-album-show:hover .hidden-collect {
  visibility: visible;
  opacity: 1;
}

.new-album-collection:hover {
  cursor: pointer;
  text-decoration: underline;
}
