.session-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.55)
}

.session-form {
  width: 500px;
  background-color: white;
  z-index: 3;
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  top: 141px;
  left: 36.5%;
  font-size: 16px;
  border-radius: 6px;
}

.signup-form {
  box-sizing: border-box;
  padding: 20px 0 0 0;
}

.session-form h1 {
  font-size: 18px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  display: block;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ededed;
  margin-top: 0;
  padding: 8px 20px 8px;
  font-weight: 400;
  border-radius: 6px 6px 0 0;
}

.session-form-inputs {
  box-sizing: border-box;
  padding: 17px 80px 0 80px;
}
.session-form label {
  display: block;
  text-align: left;
  font-weight: 400;
  margin-top: 20px;
  font-size: 14px;
}

.session-form label:first-of-type {
  margin-top: 0;
}

.session-form input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-weight: 400;
  border: 1px solid #ccc;
  padding: 4px 10px 4px 10px;
  height: 35px;
  font-size: 14px;
}

.session-form input[type="submit"] {
  background-color: rgb(0,161,198);
  text-align: center;
  border-radius: 4px;
  width: 100%;
  border: none;
  font-size: 16px;
  color: white;
  margin-top: 30px;
}

.session-form input[type="submit"]:hover {
  text-decoration: underline;
}

.close-form {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  color: #aaa;
  text-decoration: none;
}

.session-footer {
  color: #818285;
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
  padding: 0;
}

.session-footer:last-of-type {
  margin-top: 10px;
  padding-bottom: 20px;
}

.session-footer-button {
  border: none;
  background: none;
  font-size: inherit;
  text-decoration: underline;
  color: rgb(0,161,198);
  padding: 0;
}

.session-footer-button:hover {
  cursor: pointer;
}

.session-errors {
  color: red;
  margin: 0;
}

.signup-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  box-sizing: border-box;
  color: #818285;
}

.signup-row:first-of-type {
  border-bottom: 1px solid #d7d8d7;
}

.signup-row .fas {
  font-size: 100px;
  text-align: center;
}

.fa-headphones-alt {
  color: #02abcd;
}

.fa-music {
  color: #799f43;
}

.registration-option {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.registration-select-form {
  height: 400px;
  box-sizing: border-box;
  padding: 0 40px;
}

.registration-link {
  background-color: white;
  border-radius: 4px;
  width: 100%;
  border: none;
  font-size: 16px;
  margin-top: 30px;
  font-weight: 400;
  text-decoration: none;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-registration {
  color: #02abcd;
  border: 1px solid #02abcd;
}

.artist-registration {
  color: #799f43;
  border: 1px solid #799f43;
}

.registration-link:hover {
  text-decoration: underline;
}

.signup-text {
  padding-top: 18px;
}

.feature-details {
  z-index: 5;
}
