.show-page {
  height: 100%;
  padding-top: 49px;
  background-color: #eef2f3;
}

.show-body {
  margin: 0 auto;
  width: 970px;
  border: 1px solid rgba(0,0,0,0.1);
  border-top: none;
}

.show-cover-link {
  display: block;
  height: 180px;
}

.show-cover-img {
  width: 100%;
}

.show-content {
  padding: 44px 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  // background-color: #ddd;
}

.show-sidebar {
  width: 120px;
  padding: 0 30px 0 0;
}

.show-details {
  display: flex;
  justify-content: space-between;
  width: 780px;
}

.album-details {
  padding-left: 27px;
  width: 380px;
}

.album-details .album-byline,
.album-details .player-container,
.album-details .download-container,
.album-details .album-tracks {
  margin-bottom: 30px;
}

.album-byline {
  color: #363636;
}

.album-byline-title {
  font-size: 28px;
}

.album-byline-artist {
  font-size: 14px;
}

.album-byline-link {
  color: #696969;
  text-decoration: none;
  font-size: 14px;
}

.album-byline-link:hover {
  text-decoration: underline;
}

.album-byline-genre {
  font-size: 12px;
}

.album-download {
  font-size: 18px;
  color: #696969;
  display: inline-block;
}

.album-download:hover {
  cursor: pointer;
  text-decoration: underline;
}

.album-track-item {
  font-size: 12px;
  color: #363636;
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.album-track-item:hover .album-track-dl {
  text-decoration: underline;
  visibility: visible;
  opacity: 1;
}

.album-track-dl {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.05s, opacity 0.05s linear;
  color: #363636;
}

.album-track-left {
  display: flex;
}

.album-track-btn {
  width: 19px;
  height: 18px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 1px;
  cursor: pointer;
}

.album-track-icon {
  padding-left: 1px;
}

.album-description {
  margin: 30px 0;
  width: 90%;
  color: #696969;
}

.album-release-date {
  color: #696969;
}

.album-cover-img {
  height: 350px;
  width: 350px;
  // background-image: url(https://pbs.twimg.com/media/Dc1wM70U8AEIGtF.png);
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 18px;
}

.album-collection-icon {
  font-size: 13px;
  color: #696969;
  margin-right: 5px;
}

.album-collection-btn {
  font-size: 13px;
  font-weight: 700px;
  color: #696969;
  outline: none;
  border: none;
  background: none;
}

.album-collection-btn:hover {
  text-decoration: underline;
}

.artist-side-img {
  width: 120px;
  height: 120px;
  display: inline-block;
  // background-image: url(https://pbs.twimg.com/media/DsHZCe6UcAEd3Ro.jpg);
  background-size: 350px;
  background-position: 78% 35%;
  margin-bottom: 14px;
}

.artist-side-name {
 font-size: 14px;
 color: #363636;
 font-weight: 700;
}

.artist-side-loc {
  font-size: 12px;
  color: #666666;
  margin-bottom: 8px;
}

.artist-description {
  color: #363636;
}

.artist-website {
  display: block;
  margin-top: 8px;
  color: #363636;
  text-decoration: none;
}

.artist-website:hover {
  text-decoration: underline;
}

.artist-follow-btn {
  height: 28px;
  width: 100%;
  color: #696969;
  border: solid 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  margin: 6px 0 14px 0;
  outline: none;
  background: rgba(255,255,255,.5);
}

.artist-follow-btn:hover {
  text-decoration: underline;
}

.discog-label {
  margin: 20px 0 14px 0;
}

.side-discog-img {
  width: 120px;
  height: 120px;
  // background-image: url(https://pbs.twimg.com/media/DLXycjdU8AA4NoQ.jpg);
  background-size: cover;
  display: block;
  margin-bottom: 8px;
}

.side-discog-title {
  font-size: 12px;
  color: #363636;
  text-decoration: none;
}

.side-discog-title:hover {
  text-decoration: underline;
}

.side-discog-date {
  font-size: 10px;
  color: #666666;
  margin-bottom: 9px;
}

.artist-albums-list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  width: 800px;
  min-height: 500px;
  display: flex;
  box-sizing: border-box;
  padding-left: 30px;
}

.artist-discog-item {
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-right: 26px;
}

.artist-discog-link {
  display: flex;
  flex-direction: column;
  overflow: auto;
  text-decoration: none;
  height: 260px;
}

.artist-discog-link:hover {
  text-decoration: underline;
}

.artist-discog-img {
  width: 230px;
  height: 230px;
  // background-image: url(https://pbs.twimg.com/media/DLXycjdU8AA4NoQ.jpg);
  background-size: cover;
  display: inline-block;
  position: relative;
}

.artist-discog-title {
  padding-top: 6px;
  color: #363636;
  font-size: 13px;
  font-weight: 600;
}
